<link rel="stylesheet" href="./content.scss">
<script src="./Content.ts"></script>

<div class="content" data-component="content">
  <h1>content</h1>

  <div class="scroll-bar-demo">
    {{#> element/custom-scroll inside=false }}

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla mi risus. Duis velit dolor, ultrices sed
      leo vel, lobortis porttitor sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
      turpis egestas. Morbi bibendum luctus dui at fermentum. Integer eget felis quis nulla bibendum faucibus non in
      mauris. Pellentesque nulla nibh, auctor eu egestas ut, tempor in massa. Suspendisse potenti.
      <br><br>
      Pellentesque eget ornare tellus. Proin metus leo, elementum vitae mauris id, auctor efficitur risus. Suspendisse
      potenti. Fusce at consequat magna, a mollis enim. Phasellus sodales nec velit lacinia imperdiet. Aenean vitae
      auctor mi. Pellentesque eros lectus, vestibulum id luctus eget, rhoncus sed velit. Nullam sodales lorem placerat
      euismod blandit. Nam porttitor ex quam, ut feugiat ante congue pharetra. Fusce orci leo, consequat in mattis sit
      amet, dictum hendrerit lectus. Suspendisse nulla enim, tincidunt in tempor vel, pellentesque iaculis sapien. Nunc
      non ipsum sed ipsum hendrerit ultricies sit amet quis sapien.

      <br><br>
      Pellentesque eget ornare tellus. Proin metus leo, elementum vitae mauris id, auctor efficitur risus. Suspendisse
      potenti. Fusce at consequat magna, a mollis enim. Phasellus sodales nec velit lacinia imperdiet. Aenean vitae
      auctor mi. Pellentesque eros lectus, vestibulum id luctus eget, rhoncus sed velit. Nullam sodales lorem placerat
      euismod blandit. Nam porttitor ex quam, ut feugiat ante congue pharetra. Fusce orci leo, consequat in mattis sit
      amet, dictum hendrerit lectus. Suspendisse nulla enim, tincidunt in tempor vel, pellentesque iaculis sapien. Nunc
      non ipsum sed ipsum hendrerit ultricies sit amet quis sapien.

      <br><br>
      Pellentesque eget ornare tellus. Proin metus leo, elementum vitae mauris id, auctor efficitur risus. Suspendisse
      potenti. Fusce at consequat magna, a mollis enim. Phasellus sodales nec velit lacinia imperdiet. Aenean vitae
      auctor mi. Pellentesque eros lectus, vestibulum id luctus eget, rhoncus sed velit. Nullam sodales lorem placerat
      euismod blandit. Nam porttitor ex quam, ut feugiat ante congue pharetra. Fusce orci leo, consequat in mattis sit
      amet, dictum hendrerit lectus. Suspendisse nulla enim, tincidunt in tempor vel, pellentesque iaculis sapien. Nunc
      non ipsum sed ipsum hendrerit ultricies sit amet quis sapien.
    {{/element/custom-scroll}}
  </div>

</div>
