<link rel="stylesheet" href="./muban-form.scss">
<script src="./MubanForm.ts"></script>

<div class="muban-form" data-component="muban-form">
  <form action="{{form.action}}" name="{{form.name}}" method="{{form.method}}">
    {{#each form.fields}}
      {{#if (condition type '===' 'text') }}
        {{> block/muban-form/inputs/text-input data=this formName=../form.name }}
      {{ else if (condition type '===' 'textarea')}}
        {{> block/muban-form/inputs/textarea data=this formName=../form.name }}
      {{/if}}
    {{/each}}
  </form>
</div>
