<link rel="stylesheet" href="./custom-scroll.scss">
<script src="./CustomScroll.ts"></script>

<div data-component="custom-scroll"  class="custom-scroll">
  <div class="scroll-content" data-scroll-content>
    <div class="scroll-content-inner" data-content-inner>
      {{> @partial-block }}
    </div>
  </div>

  <div class="scroll-bar" data-scroll-bar>
    <span class="knob" data-scroll-knob></span>
  </div>
</div>

