.site-navigation-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: zindex($zMenu, search);
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s linear;

  &:before {
    content: '';
    height: calc(100vh - 100%);
    width: 100%;
    left: 0;
    top: 100%;
    position: absolute;
    background-color: #141414;
    opacity: 0.2;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  .search-form {
    position: relative;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
  }

  .search-submit .icon {
    height: 1.4rem;
    width: 1.5rem;



  }

  .close-search {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.2rem;
  }

  .search-input {
    height: 3.6rem;
    border-bottom: 1px solid #141414;
    width: 100%;
    font-size: 1.3rem;

    margin:0 2rem;

    @include input-placeholder{
      color: currentColor;
      opacity: 0.5;
    }
  }

  @media screen and (min-width: 1024px) {

    &:before {
      display: none;
    }

    .search-input {
      height: 4rem;
    }
  }
}
