.site-navigation {
  @import "style/variables";
  @import "style/icons";

  height: 5.6rem;
  width: 100%;
  position: fixed;
  z-index: 3;
  padding: 1rem 0;
  background-color: #fff;
  top: 0;
  left: 0;

  &:before {
    height: 100%;
    width: 100%;
    content: "";
    position: fixed;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s linear;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #f1f3f5;
  }

  .content-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    &:after {
      height: 5.6rem;
      width: 100%;
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      background-color: #fff;
    }
  }

  .logo-wrapper {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    color: #63666a;
    z-index: 1;
    flex-shrink: 0;

    a {
      height: 100%;
      margin-right: 2rem;
    }
  }

  &.is-open {
    &:before {
      display: block;
      opacity: 1;
    }
  }

  @import 'style/site-navigation-menu';
  @import 'style/site-navigation-menu-actions';
  @import "style/menu-button";
  @import "style/site-navigation-search";

  @media screen and (min-width: 1024px) {
    height: 8rem;
    padding: 2rem;
  }
}
