<link rel="stylesheet" href="./site-navigation.scss">
<script src="./SiteNavigation.ts"></script>

<header class="site-navigation" data-component="site-navigation">
  <div class="content-wrapper">
      <h1 class="logo-wrapper">
        <a href="/" class="logo" title="Muban Base Components">MC</a>
        <span class="logo-copy">Muban</span>
      </h1>

      <nav class="site-navigation-menu">
        <ul class="tier-one tier-container">
          <li>
            <span class="tier-one-item tier-item">Item 1</span>
          </li>
          <li>
            <span class="tier-one-item tier-item">Item 2</span>
          </li>
          <li>
            <span class="tier-one-item tier-item">Item 3</span>
          </li>
        </ul>
      </nav>

      <nav class="site-navigation-menu-actions">
        account / search / cta
      </nav>
  </div>
</header>
